<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_style.css') }}">
  </head>
  <body>
    <form method="post" action="{{url_for('index')}}">
      <header>
        <h1><nav><a href="/dashboard">Phone Camera Comparison</a></nav></h1>
        <nav>
          <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/index">Comparision</a></li> 
            <li><a href="#">About</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </nav>
      </header>
      <div class="container">
        <h2 class="main">About us</h2>
        <p align="justify">
          Welcome to Phone Camera Comparison, your ultimate resource for
          comparing and finding the best smartphone camera for your needs. Our
          team of expert photographers and mobile technology enthusiasts are
          passionate about helping you capture life's special moments in
          stunning detail. With the rapid advancements in mobile camera
          technology, it can be difficult to keep up with the latest releases
          and features. That's why we created Phone Camera Comparison - to
          simplify the process and help you make informed decisions.
        </p>
        <p align="justify">
          We conduct thorough reviews and comparisons of the latest smartphone
          cameras and their features. Our website provides unbiased and reliable
          information about various aspects of phone cameras such as lens
          quality, megapixels, optical image stabilization, low-light
          performance, and more. We also provide user-friendly comparison tools
          to help you quickly and easily compare different phone cameras
          side-by-side. At Phone Camera Comparison, our ultimate goal is to help
          you find the perfect smartphone camera that suits your needs and
          budget.
        </p>
        <p align="justify">
          We believe that everyone should have access to high-quality mobile
          camera technology without breaking the bank. Follow us on social media
          to stay updated on the latest trends and phone camera releases. Thank
          you for choosing Phone Camera Comparison as your trusted source for
          mobile camera reviews and comparisons.
        </p>
        <footer>
          <p>&phone; Contact</p>
        </footer>
      </div>
    </form>
  </body>
</html>
