<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-xl navbar-dark sticky-top " style="background-color: #385d8a;"  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Smartphone Camera Comparision" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/search">
          <div class="input-group" id="search">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-box" name="q" />
            <button type="submit" id="serach-button"class="btn btn-success">Search</button>
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/index">Comparision</a>
          </li> 
          <li class="nav-item ">
            <a class="nav-link " href="/comp">comp</a>
          </li> 
          <li class="nav-item ">
            <a class="nav-link " href="/se">se</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/index/about">About</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/logout">Log out</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <form method="POST" action="/compare" name="phone-form" id="phone-form">
      <div class="row flex-container">

        <div class="col-md-4 flex-item">
          <div class="d-flex justify-content-around align-items-center mb-2">
            <img src="https://cdn1.smartprix.com/rx-iH3muFHfz-w280-h280/oneplus-7-8gb-ram-25.webp" alt="Flexbox Image 1" />
            <span class="vs">vs</span>
            <img src="https://cdn1.smartprix.com/rx-ijULh2d9g-w280-h280/oppo-reno-2.webp" alt="Flexbox Image 1" />
          </div>
          <div class="d-flex justify-content-around mb-2" id="flex_hover">
            <div class="p-2 flex-fill phone-name">OnePlus 7</div>
            <div class="p-2 flex-fill phone-name"> </div>
            <div class="p-2 flex-fill phone-name">Oppo Reno 2</div>
          </div>
          <div class="break" id="btn">
              <button type="submit" class="btn btn-success" id="compare-btn-1" name="compare-btn" value="btn1">Compare</button>
          </div>
        </div>
      
        <div class="col-md-4 flex-item">
          <div class="d-flex justify-content-around align-items-center mb-2">
            <img src="https://cdn1.smartprix.com/rx-ispXKz5Yn-w280-h280/realme-8i-6gb-ram-12.webp" alt="Flexbox Image 1" />
            <span class="vs">vs</span>
            <img src="https://cdn1.smartprix.com/rx-iFqV4u3Qa-w280-h280/xiaomi-redmi-k30.webp" alt="Flexbox Image 1" />
          </div>
          <div class="d-flex justify-content-around mb-2">
            <div class="p-2 flex-fill phone-name">Realme 8i</div>
            <div class="p-2 flex-fill phone-name"> </div>
            <div class="p-2 flex-fill phone-name">Xiaomi Redmi k30</div>
          </div>
          <div class="break" id="btn">
              <button type="submit" class="btn btn-success" id="compare-btn-2" name="compare-btn" value="btn2">Compare</button>
          </div>
        </div>

          <div class="col-md-4 flex-item">
            <div class="d-flex justify-content-around align-items-center mb-2">
              <img src="https://cdn1.smartprix.com/rx-iukoaruZz-w280-h280/motorola-moto-g30.webp" alt="Flexbox Image 1" />
              <span class="vs">vs</span>
              <img src="https://cdn1.smartprix.com/rx-igAvq7Z0m-w280-h280/realme-6i.webp" alt="Flexbox Image 1" />
            </div>
            <div class="d-flex justify-content-around mb-2">
              <div class="p-2 flex-fill phone-name">Motorola Moto G30</div>
              <div class="p-2 flex-fill phone-name"> </div>
              <div class="p-2 flex-fill phone-name">Realme 6i</div>
            </div>
            <div class="break" id="btn">
              <button type="submit" class="btn btn-success" id="compare-btn-3" name="compare-btn" value="btn3">Compare</button>
            </div>
          </div>

          <div class="col-md-4 flex-item">
            <div class="d-flex justify-content-around align-items-center mb-2">
              <img src="https://cdn1.smartprix.com/rx-imI0GMKgu-w280-h280/samsung-galaxy-m51.webp" alt="Flexbox Image 1" />
              <span class="vs">vs</span>
              <img src="https://cdn1.smartprix.com/rx-i7OsopWs6-w280-h280/xiaomi-mi-8-lite-4gb.webp" alt="Flexbox Image 1" />
            </div>
            <div class="d-flex justify-content-around mb-2">
              <div class="p-2 flex-fill phone-name">Samsung Galaxy M51</div>
              <div class="p-2 flex-fill phone-name"> </div>
              <div class="p-2 flex-fill phone-name">Xiaomi mi 8 Lite</div>
            </div>
            <div class="break" id="btn">
                <button type="submit" class="btn btn-success" id="compare-btn-4" name="compare-btn" value="btn4">Compare</button>
            </div>
          </div>

          <div class="col-md-4 flex-item">
            <div class="d-flex justify-content-around align-items-center mb-2">
              <img src="https://cdn1.smartprix.com/rx-ioLedjrMc-w280-h280/asus-rog-phone-3-12g.webp" alt="Flexbox Image 1" />
              <span class="vs">vs</span>
              <img src="https://cdn1.smartprix.com/rx-iEUlsfiIk-w280-h280/samsung-galaxy-note.webp" alt="Flexbox Image 1" />
            </div>
            <div class="d-flex justify-content-around mb-2">
              <div class="p-2 flex-fill phone-name">Asus Rog phone 3</div>
              <div class="p-2 flex-fill phone-name"> </div>
              <div class="p-2 flex-fill phone-name">Samsung Galaxy Note</div>
            </div>
            <div class="break" id="btn">
                <button type="submit" class="btn btn-success" id="compare-btn-5" name="compare-btn" value="btn5">Compare</button>
            </div>
          </div>

          <div class="col-md-4 flex-item">
            <div class="d-flex justify-content-around align-items-center mb-2">
              <img src="https://cdn1.smartprix.com/rx-iJQaIGe8O-w280-h280/huawei-honor-9x-pro.webp" alt="Huawei Honor 9x Pro" />
              <span class="vs">vs</span>
              <img src="https://cdn1.smartprix.com/rx-imTnMR5Zq-w280-h280/xiaomi-redmi-9t.webp" alt="Xiaomi Redmi 9t" />
            </div>
            <div class="d-flex justify-content-around mb-2">
              <div class="p-2 flex-fill phone-name">Huawei Honor 9x Pro</div>
              <div class="p-2 flex-fill phone-name"> </div>
              <div class="p-2 flex-fill phone-name">Xiaomi Mi Redmi 9t</div>
            </div>
            <div class="break" id="btn">
              <button type="submit" class="btn btn-success compare-btn" id="compare-btn-6" name="compare-btn" value="btn6">Compare</button>
            </div>
          </div>
      </div>
    </form>
    
  </div>
  <footer class="footer">
    <div class="container">
      <p>&phone; contact</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
   
  <script>
    $(function() {
      $('#search-box').autocomplete({
        source: function(request, response) {
          $.getJSON('/autocomplete', {
            term: request.term
          }, function(data) {
            response(data);
          });
        },
        minLength: 2
      });
    });
  </script>
  <script>
    var form = document.getElementById('phone-form');
    var btn1 = document.getElementById('compare-btn-1');
    var btn2 = document.getElementById('compare-btn-2');
    var btn3 = document.getElementById('compare-btn-3');
    var btn4 = document.getElementById('compare-btn-4');
    var btn5 = document.getElementById('compare-btn-5');
    var btn6 = document.getElementById('compare-btn-6');
  
    btn1.addEventListener('click', function() {
      form.action = "/compare/OnePlus%207/Oppo%20Reno2";
    });
  
    btn2.addEventListener('click', function() {
      form.action = "/compare/Xiaomi%20Redmi%20K30/Realme%208i";
    });

    btn3.addEventListener('click', function() {
      form.action = "/compare/MOTOROLA%20MOTO%20G30/REALME%206I";
    });
  
    btn4.addEventListener('click', function() {
      form.action = "/compare/Samsung%20Galaxy%20M51/Xiaomi%20Mi%208%20Telephoto ";
    });
    btn5.addEventListener('click', function() {
      form.action = "/compare/Asus%20ROG%20Phone%203/Samsung%20Galaxy%20Note10+%20Telephoto";
    });
  
    btn6.addEventListener('click', function() {
      form.action = "/compare/Honor%209X%20Pro/Xiaomi%20Redmi%209T ";
    });
  </script>  
</body>

</html>