<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-xl navbar-dark sticky-top " style="background-color: #385d8a;"  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Smartphone Camera Comparision" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" href="/dashboard">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/index">Comparision</a>
          <li class="nav-item ">
            <a class="nav-link " href="/index/about">About</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/logout">Log out</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

        <div id="content" class="my-5">
          <div id="filterbar" class="fixed">
              <div class="box border-bottom">
                  <div class="form-group text-center">
                      <h1>FILTER</h1>
                  </div>
                  <div>
                    <h5 class=""> Brands </h5>
                  </div>
                  <div id="checkbox-container">
                      <div>
                          <label class="tick">Asus <input type="checkbox" name="brand" value="Asus"> <span class="check"></span> </label>
                      </div>
                      <div>
                          <label class="tick">Google <input type="checkbox" name="brand" value="Google"> <span class="check"></span> </label>
                      </div>
                      <div>
                          <label class="tick">Honor <input type="checkbox" name="brand" value="Honor"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">HTC <input type="checkbox" name="brand" value="HTC"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Huawei <input type="checkbox" name="brand" value="Huawei"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">LG <input type="checkbox" name="brand" value="LG"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Motorola <input type="checkbox" name="brand" value="Motorola"> <span class="check"></span> </label>
                      </div>

                      <label class="tick">Nothing <input type="checkbox" name="brand" value="Nothing"> <span class="check"></span> </label>
                      <div>
                          <label class="tick">OnePlus <input type="checkbox" name="brand" value="OnePlus"> <span class="check"></span> </label>
                      </div>
                      <div>
                          <label class="tick">Oppo <input type="checkbox" name="brand" value="Oppo"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Realme <input type="checkbox" name="brand" value="Realme"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Samsung <input type="checkbox" name="brand" value="Samsung"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Redmi <input type="checkbox" name="brand" value="Redmi"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Vivo <input type="checkbox" name="brand" value="Vivo"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Xiaomi <input type="checkbox" name="brand" value="Xiaomi"> <span class="check"></span> </label>
                      </div>
                      <div>
                        <label class="tick">Sony <input type="checkbox" name="brand" value="Sony"> <span class="check"></span> </label>
                      </div>
                  </div>
                  <div>
                      <h5 class=""> Price</h5>
                  </div>
                  <div class="price-input">
                      <div class="field">
                        <span>Min</span>
                        <input type="number" class="input-min" value="0">
                      </div>
                      <div class="separator">-</div>
                      <div class="field">
                        <span>Max</span>
                        <input type="number" class="input-max" value="10000">
                      </div>
                  </div>
              </div>
          </div>
          <div id="products">
              <div class="row mx-0">
                  <div class="col-lg-4 col-md-6">
                      <form action="{{ url_for('Auto_search') }}">
                        <div class="input-group" id="search">
                          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-box" name="q" />
                          <button type="button" id="search-button1"class="btn btn-success">Search</button>
                        </div>
                      </form>
                      <div class="card d-flex flex-column align-items-center">
                        <div id="phone_1"></div>
                        <div id="result">
                          {{result.column1}}
                          <img src="{{result.column2}}" alt="">
                          <li>{{result.column3}}</li>
                          <li>{{result.column4}}</li>
                          <li>{{result.column5}}</li>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 pt-md-0 pt-3">
                    <form action="{{ url_for('Auto_search_1') }}">
                      <div class="input-group" id="search1">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-box1" name="w" />
                        <button type="button" id="search-button2"class="btn btn-success">Search</button>
                      </div>
                    </form>
                    <div class="card d-flex flex-column align-items-center">
                      <div id="phone_2"></div>
                      <div id="res_1">
                        {{res_1.column1}}
                        <img src="{{res_1.column2}}" alt="">
                        <li>{{res_1.column3}}</li>
                        <li>{{res_1.column4}}</li>
                        <li>{{res_1.column5}}</li>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 pt-lg-0 pt-md-4 pt-3">
                    <form action="{{ url_for('Auto_search_2') }}">
                      <div class="input-group" id="search2">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-box2" name="e" />
                        <button type="button" id="search-button3"class="btn btn-success">Search</button>
                      </div>
                    </form>
                    <div class="card d-flex flex-column align-items-center">
                      <div id="phone_3"></div>
                      <div id="res_2">
                        {{res_2.column1}}
                        <img src="{{res_2.column2}}" alt="">
                        <li>{{res_2.column3}}</li>
                        <li>{{res_2.column4}}</li>
                        <li>{{res_2.column5}}</li>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>


  <footer class="footer">
    <div class="container">
      <p>&phone; contact</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
    <script>
            $(document).ready(function() {
        $('#search-button3').click(function() {
          var query2 = $('#search-box2').val();
          $.ajax({
            url: '/Auto_search_2?e=' + query2,
            type: 'GET',
            success: function(phone_3) {
              $('#phone_3').html(phone_3.column1 + ' ' + phone_3.column2);
              const phone3 = document.getElementById("phone_3").textContent.trim();
              if (phone3 !== "") {
              document.getElementById("res_2").style.display = "none";
            }
            }
          });
        });
      });

      $(document).ready(function() {
        $('#search-button2').click(function() {
          var query1 = $('#search-box1').val();
          $.ajax({
            url: '/Auto_search_1?w=' + query1,
            type: 'GET',
            success: function(phone_2) {
              $('#phone_2').html(phone_2.column1 + ' ' + phone_2.column2);
              const phone2 = document.getElementById("phone_2").textContent.trim();
              if (phone2 !== "") {
              document.getElementById("res_1").style.display = "none";
            }
            }
          });
        });
      });

      $(document).ready(function() {
        $('#search-button1').click(function() {
          var query = $('#search-box').val();
          $.ajax({
            url: '/Auto_search?q=' + query,
            type: 'GET',
            success: function(phone_1) {
              $('#phone_1').html(phone_1.column1 + ' ' + phone_1.column2);
              const phone1 = document.getElementById("phone_1").textContent.trim();
              if (phone1 !== "") {
              document.getElementById("result").style.display = "none";
            }
            }
          });
        });
      });

            $(function() {
            $('#search-box').autocomplete({
                source: function(request, response) {
                    const checkedBoxes = $('#checkbox-container input[type=checkbox]:checked');
                    const checkedValues = Array.from(checkedBoxes).map((checkbox) => checkbox.value);

                    $.getJSON('/autocomplete', {
                        term: request.term,
                        t: checkedValues.join(',')
                    }, function(data) {
                        response(data);
                    });
                },
                minLength: 1
            });

            $('#search-form').submit(function(e) {
                e.preventDefault();
                var query = $('#search-box').val();
                window.location.href = '/Auto_search?q=' + query;
            });
        });
        $(function() {
            $('#search-box1').autocomplete({
                source: function(request, response) {
                    const checkedBoxes = $('#checkbox-container input[type=checkbox]:checked');
                    const checkedValues = Array.from(checkedBoxes).map((checkbox) => checkbox.value);

                    $.getJSON('/autocomplete', {
                        term: request.term,
                        t: checkedValues.join(',')
                    }, function(data) {
                        response(data);
                    });
                },
                minLength: 1
            });

            $('#search-form').submit(function(e) {
                e.preventDefault();
                var query = $('#search-box1').val();
                window.location.href = '/Auto_search?w=' + query;
            });
        });
        $(function() {
            $('#search-box2').autocomplete({
                source: function(request, response) {
                    const checkedBoxes = $('#checkbox-container input[type=checkbox]:checked');
                    const checkedValues = Array.from(checkedBoxes).map((checkbox) => checkbox.value);

                    $.getJSON('/autocomplete', {
                        term: request.term,
                        t: checkedValues.join(',')
                    }, function(data) {
                        response(data);
                    });
                },
                minLength: 1
            });

            $('#search-form').submit(function(e) {
                e.preventDefault();
                var query = $('#search-box2').val();
                window.location.href = '/Auto_search?e=' + query;
            });
        });
      </script>
</body>

</html>